<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

 	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<jaxws:client id="gestionCaisse"
		serviceClass="com.webcaisse.ws.interfaces.CaisseManagerService"
		 address="http://localhost:8092/caisse_ws/gestionCaisse" />
		 
     <jaxws:client id="gestionCommande"
		serviceClass="com.webcaisse.ws.interfaces.CommandeManagerService"
		 address="http://localhost:8092/caisse_ws/gestionCommande" />	
		 
	     <jaxws:client id="gestionClient"
		serviceClass="com.webcaisse.ws.interfaces.ClientManagerService"
		 address="http://localhost:8092/caisse_ws/gestionClient" />		
		 
		 <jaxws:client id="authentificationService"
		serviceClass="com.webcaisse.ws.interfaces.AuthentificationService"
		 address="http://localhost:8092/caisse_ws/authentification" />	 	 

		 <jaxws:client id="sessionManagerService"
		serviceClass="com.webcaisse.ws.interfaces.SessionManagerService"
		 address="http://localhost:8092/caisse_ws/session" />	
		 
		 <jaxws:client id="parametreManagerService"
		serviceClass="com.webcaisse.ws.interfaces.ParametreManagerService"
		address="http://localhost:8092/caisse_ws/parametre" />	 	 

		 <jaxws:client id="userManagerService"
		serviceClass="com.webcaisse.ws.interfaces.UserManagerService"
		address="http://localhost:8092/caisse_ws/user" />	 	 

 
 <bean name="logginfInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
 
 
 <!-- <bean id="factory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
 	<property name="address" value="http://localhost:7777/caisse_ws/gestionCaisse?wsdl"/>
 	<property name="serviceClass" value="com.webcaisse.ws.client.CaisseManagerService"></property>
 </bean>
  -->
 </beans>