<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true" realm="webcaisse.com" pattern="/**"
		use-expressions="true">
		<intercept-url pattern="/css/**" access="permitAll" />
		<intercept-url pattern="/images/**" access="permitAll" />
		<intercept-url pattern="/js/**" access="permitAll" />
		<intercept-url pattern="/produits/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/commandes/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/clients/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/login" access="permitAll" />
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/loginSuccess" access="permitAll" />
		<form-login login-page="/login" login-processing-url="/postlogin"
			default-target-url="/loginSuccess" username-parameter="login"
			password-parameter="password" />

		<!--  <logout logout-url="/logout" logout-success-url="/" />-->
		
	<!-- 	 <logout
            invalidate-session="true"
            logout-url="/j_spring_security_logout"
            delete-cookies="JSESSIONID" 
            success-handler-ref="customLogoutSuccessHandler" />
     -->
       <logout logout-url="/logout" delete-cookies="true" invalidate-session="true" success-handler-ref="customUrlLogoutSuccessHandler"></logout>
             
	</http>

  
	 <beans:bean name="customUrlLogoutSuccessHandler" class="com.webcaisse.service.CustomLogoutSuccessHandler" >
	 	<beans:property name="sessionManagerService" ref="sessionManagerService"/>
	 </beans:bean>

	<beans:bean id="customUserDetailsService"
		class="com.webcaisse.service.CustomUserDetailsService">
		<beans:property name="authentificationService" ref="authentificationService" />
		<beans:property name="sessionManagerService" ref="sessionManagerService"/>
	</beans:bean>

	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsService">
		</authentication-provider>
	</authentication-manager>

</beans:beans>