<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

 	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<context:property-placeholder location="classpath:spring.webcaisse.services.url.properties" />

	<jaxws:client id="gestionCaisse"
		serviceClass="com.webcaisse.ws.interfaces.CaisseManagerService"
		 address="${webcaisse.services.caisse.url}" />
		 
     <jaxws:client id="gestionCommande"
		serviceClass="com.webcaisse.ws.interfaces.CommandeManagerService"
		 address="${webcaisse.services.commandes.url}" />	
		 
	     <jaxws:client id="gestionClient"
		serviceClass="com.webcaisse.ws.interfaces.ClientManagerService"
		 address="${webcaisse.services.client.url}" />		
		 
		 <jaxws:client id="authentificationService"
		serviceClass="com.webcaisse.ws.interfaces.AuthentificationService"
		 address="${webcaisse.services.authentification.url}" />	 	 

		 <jaxws:client id="sessionManagerService"
		serviceClass="com.webcaisse.ws.interfaces.SessionManagerService"
		 address="${webcaisse.services.session.url}" />	
		 
		 <jaxws:client id="parametreManagerService"
		serviceClass="com.webcaisse.ws.interfaces.ParametreManagerService"
		address="${webcaisse.services.parametre.url}" />	 	 

		 <jaxws:client id="userManagerService"
		serviceClass="com.webcaisse.ws.interfaces.UserManagerService"
		address="${webcaisse.services.user.url}" />	 	 
		
		<jaxws:client id="livreurManagerService"
		serviceClass="com.webcaisse.ws.interfaces.LivreurManagerService"
		address="${webcaisse.services.livreur.url}" />	

 
 <bean name="logginfInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
 
 
 <!-- <bean id="factory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
 	<property name="address" value="http://localhost:7777/caisse_ws/gestionCaisse?wsdl"/>
 	<property name="serviceClass" value="com.webcaisse.ws.client.CaisseManagerService"></property>
 </bean>
  -->
 </beans>